elastic:
  enabled: false
ccd:
  enabled: false

java:
  image: 'https://hmctspublic.azurecr.io/ccd/ccd-case-disposer:latest'
  kind: CronJob
  schedule: "0 22 * * *"
  startingDeadlineSeconds: 600
  concurrencyPolicy: Forbid
  ingressHost: ccd-case-disposer-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: ccd
#  Uncomment once the vault containing the app insights key has been set up
  keyVaults:
    ccd:
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: data-store-api-POSTGRES-USER
          alias: DATA_STORE_DB_USERNAME
        - name: data-store-api-POSTGRES-PASS
          alias: DATA_STORE_DB_PASSWORD
        - name: ccd-ELASTIC-SEARCH-DATA-NODES-URL
          alias: ELASTIC_SEARCH_DATA_NODES_HOSTS
  environment:
    DELETE_CASE_TYPES:
    DELETE_CASE_TYPES_SIMULATION:
  global:
    jobKind: CronJob
